.footer {
  margin-top: auto;
  background-image: linear-gradient(90deg,
      rgba(73, 169, 255, 0.2) 0%,
      rgba(252, 124, 217, 0.2) 100%);
  padding: 60px 0 40px 0;
  text-align: center;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 40px;
  filter: brightness(1);
  transition: filter 0.6s ease-in-out;
}

.footer__logo:hover {
  filter: brightness(1.2) hue-rotate(260deg);
}

.footer__logo:focus-visible {
  filter: brightness(1.2) hue-rotate(260deg);
}

.footer__top {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d3cbd9;
}

.footer__menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu ul a {
  text-decoration-line: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  transition: color 0.4s;
}

.footer__menu a:hover {
  color: #3596ed;
}

.footer__menu a:focus-visible {
  color: #3596ed;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
}


@media (width <=768px) {
  .footer__menu ul {
    flex-direction: column;
    gap: 25px;
  }
}

@media (width <=576px) {
  .footer {
    padding-top: 40px;
  }
}