body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.block {
  display: block;
  margin-top: 3px;
}

.label {
  margin: 0.7em 0;
}

/* Было в лом делать иначе*/

.form {
  margin: 5vh 20vw;
  min-width: 230px;
  max-width: 300px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
}

.form-group {
  border: 0;
  padding: 0;
}

.form-group-title {
  font-weight: bold;
  margin: 5px 0 12px 0;
}

.textarea {
  resize: vertical;
  max-height: 200px;
  max-width: 170px;
  box-sizing: border-box;
}

.checkbox-title {
  font-size: 0.8em;
}

.button {
  cursor: pointer;
}
