html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.container {
  max-width: 90vw;
  padding: 0 1em;
  margin: 0 auto;
}

.header-container {
  border-bottom: 1px solid rgb(56, 56, 56);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em;
  gap: 1em;
}

.Logotype {
  background-color: black;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  text-decoration: none;
  flex-shrink: 0;
}

.NavList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.NavListItem > a {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}

.numPhone {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  font-weight: 500;
}
