@font-face {
  font-family: Ubuntu;
  src:
    local("Ubuntu"),
    url(../Fonts/UbuntuLight.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src:
    local("Ubuntu"),
    url(../Fonts/UbuntuRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src:
    local("Ubuntu"),
    url(../Fonts/UbuntuMedium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: Oswald;
  src:
    local("Oswald"),
    url(../Fonts/OswaldMedium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src:
    local("Oswald"),
    url(../Fonts/OswaldSemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}